body {
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}